<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscripci贸n de cursos y estudiantes</title>


    <!-- Custom fonts  -->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles -->
  <link href="../../css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles  -->
  <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link href="../../css/styles.css" rel="stylesheet">

</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2D572C;">
            <a class="navbar-brand" href="/">Tecnol贸gico de Antioquia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ">
            
                <a class="nav-item nav-link " href="/">Inicio</a>
                <a class="nav-item nav-link " href="/crearcurso">Crear curso</a>
                <a class="nav-item nav-link" href="/listarcursoscoord">Ver cursos </a>
                <a class="nav-item nav-link" href="/inscribir">Inscribir</a>
                <a class="nav-item nav-link" href="/verinscritos">Ver inscritos</a>
                
              </div>
            </div>
      </nav>
    </header>
<!--
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #061539;"k">
          <a class="navbar-brand" href="/pedidos">Productos electr贸nicos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link " href="/pedidos">Realizar pedido</a>
              <a class="nav-item nav-link active" href="/listado_pedidos">Pedidos realizados</a>
              <a class="nav-item nav-link" href="/perfil">Perfil </a>
              <a class="nav-item nav-link" href="/cierreSesion">Cerrar sesi贸n</a>
            </div>
          </div>
        </nav>-->
