{{>header}}

<h1 class='text-center mt-5'>Bienvenido a la página de Educación Continua</h1>
<h5 class="text-center">Inicia sesión para registrarte en los cursos</h5>
<img id="logo-ta" src="img/logo.png" alt="Logo tecnologico de antioquia">

<h2><a class="nav-item nav-link text-center" href="/cursosdisponibles">Ver cursos disponibles</a></h2>



{{>footer}}

